<div class="row">
  <div class="text-center"><br><br>
    <%= @micropost.content %><br><br><br><br>
    <% if current_user == @micropost.user %>
      <%= link_to '編集', edit_micropost_path(@micropost), class: 'btn btn-warning btn' %>&nbsp;&nbsp;&nbsp;
      <%= link_to "削除", @micropost, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: 'btn btn-danger btn' %>
    <% end %>
  </div>
</div>