/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.jumbotron_bg {
  min-height: 650px;
  background: url(cube-3322835_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.row_sign {
  padding-top: 10px;
  min-height: 700px;
  background: url(cube-3322835_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.form-group {
  max-width: 500px;
  margin: auto;
}

html{
height:100%;
}

body{
margin: 0;
padding: 0;
height:100%; 
}

.for_background{
  min-height:100%;
  background: url(wall-2423815_1920.jpg);
  background-position: center;
  background-repeat: repeat-y;
}

.edit_micropost{
  min-width: 500px;
  min-height: 180px;
}

.nav-justified {
  background-color: #fff;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
  border: 1px solid #999999c2;
}